---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-secrets
  namespace: external-secrets
  annotations:
    # module.eso_irsa.arn
    eks.amazonaws.com/role-arn: arn:aws:iam::833704146350:role/eks-secrets-example-eso-20251117124216016900000001
